<h1>Welcome, <%= @user.first_name %></h1>
<div class="post">
<p><b>Username:</b> <%= @user.username %></p>
<p><b>Email:</b> <%= @user.email %></p>
<form action="/users/<%= @user.username %>/update" method="post">
  <p><b>Link:</b><br><br>
    <input type="text" name="link" value="<%= @user.link %>">
  <input type="hidden" name="_method" value="PATCH">
  <input class="green" type="submit" value="Save Link"></p>
</form><br><br>
<form id="bio" action="/users/<%= @user.username %>/update" method="post">
  <p><b>Bio:</b>
    <input name="delta" type="hidden">
        <div id="editor"><%= @user.bio %></div>
  <input type="hidden" name="_method" value="PATCH"><br>
  <input class ="green" type="submit" value="Save Bio"></p>
</form><br><br>
</div>
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
<script>
  var toolbarOptions = [['bold', 'italic', 'underline'], ['link']]
  var quill = new Quill('#editor', {
    placeholder: "Add a Bio...",
    theme: 'snow',
    modules: {toolbar: toolbarOptions}
  });
  var form = document.querySelector('#bio');
  form.onsubmit = function() {
  // Populate hidden form on submit
  var content = document.querySelector('input[name=delta]');
  content.value = JSON.stringify(quill.getContents());
  return true;
};
</script>
